{{ define "index" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>{{ .Title }} - GTodo</title>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1 class="main-title">GTodo</h1>
      <nav class="nav">
        <ul>
          {{ if not .Auth }}
            <li>
              {{ if eq .Mode "login" }}
                <span class="nav-item nav-item-active">Login</span>
              {{ else }}
                <a class="nav-item" href="/login">Login</a>
              {{ end }}
            </li>
            <li>
              {{ if eq .Mode "signup" }}
                <span class="nav-item nav-item-active">Signup</span>
              {{ else }}
                <a class="nav-item" href="/signup">Signup</a>
              {{ end }}
            </li>
          {{ else }}
            <li>
              {{ if eq .Mode "list" }}
                <span class="nav-item nav-item-active">List</span>
              {{ else }}
                <a class="nav-item" href="/list">List</a>
              {{ end }}
            </li>
            <li>
              {{ if eq .Mode "add" }}
                <span class="nav-item nav-item-active">Add</span>
              {{ else }}
                <a class="nav-item" href="/add">Add</a>
              {{ end }}
            </li>
            <li>
              {{ if eq .Mode "update" }}
                <span class="nav-item nav-item-active">Update</span>
              {{ else }}
                <a class="nav-item" href="/update">Update</a>
              {{ end }}
            </li>
            <li>
              {{ if eq .Mode "delete" }}
                <span class="nav-item nav-item-active">Delete</span>
              {{ else }}
                <a class="nav-item" href="/delete">Delete</a>
              {{ end }}
            </li>
          {{ end }}
          <li>
            {{ if eq .Mode "about" }}
              <span class="nav-item nav-item-active">About</span>
            {{ else }}
              <a class="nav-item" href="/about">About</a>
            {{ end }}
          </li>
          {{ if eq .Mode "404" }}
            <li>
              <span class="nav-item nav-item-active">404</span>
            </li>
          {{ end }}
        </ul>
      </nav>
    </header>
    <main class="main-content">
      {{ if .FlashMessage }}
        {{ if .FlashMessage.Kind }}
          <div class="flash-message flash-message--error">
        {{ else }}
          <div class="flash-message flash-message--success">
        {{ end }}
            {{ .FlashMessage.Content }}
          </div>
      {{ end }}
  
      {{ template "content" . }}
    </main>
    <footer class="footer">
      <a href="https://efreitasn.dev" target="_blank">efreitasn</a>
    </footer>
  </div>
</body>
</html>

{{ end }}