{{ define "index" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>gtodo</title>
</head>
<body>
  <main class="main-content">
    <header>
      <h1 class="main-title">GTodo</h1>
      <nav class="main-nav">
        <ul>
          {{ if not .Auth }}
            <li>
              <a
                {{ if ne .Mode "login" }} href="/login" {{ end }}
                {{ if eq .Mode "login" }} class="active" {{ end }}
              >Login</a>
            </li>
            <li>
              <a
                {{ if ne .Mode "signup" }} href="/signup" {{ end }}
                {{ if eq .Mode "signup" }} class="active" {{ end }}
              >Signup</a>
            </li>
          {{ else }}
            <li>
              <a
                {{ if ne .Mode "list" }} href="/list" {{ end }}
                {{ if eq .Mode "list" }} class="active" {{ end }}
              >List</a>
            </li>
            <li>
              <a
                {{ if ne .Mode "add" }} href="/add" {{ end }}
                {{ if eq .Mode "add" }} class="active" {{ end }}
              >Add</a>
            </li>
            <li>
              <a
                {{ if ne .Mode "update" }} href="/update" {{ end }}
                {{ if eq .Mode "update" }} class="active" {{ end }}
              >Update</a>
            </li>
            <li>
              <a
                {{ if ne .Mode "delete" }} href="/delete" {{ end }}
                {{ if eq .Mode "delete" }} class="active" {{ end }}
              >Delete</a>
            </li>
          {{ end }}
          <li>
            <a
              {{ if ne .Mode "about" }} href="/about" {{ end }}
              {{ if eq .Mode "about" }} class="active" {{ end }}
            >About</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="box">
      {{ if .FlashMessage }}
        {{ if .FlashMessage.Kind }}
          <div class="flash-message flash-message--error">
        {{ else }}
          <div class="flash-message flash-message--success">
        {{ end }}
            {{ .FlashMessage.Content }}
          </div>
      {{ end }}

      {{ template "content" . }}
    </div>
  </main>
</body>
</html>

{{ end }}