{{ define "content" }}

<div>
  {{ if .FlashMessage }}
    <div>{{ .FlashMessage.Kind }}</div>
    <div>{{ .FlashMessage.Content }}</div>
  {{ end }}

  <form enctype="application/x-www-form-urlencoded" action="/todos" method="POST">
    <input type="text" name="title">
    <button type="submit">Add</button>
  </form>

  {{ range .Todos }}
  <div>
    {{ if .Done }}
      <input type="checkbox" checked>
    {{ else }}
      <input type="checkbox">
    {{ end }}

    {{ .Title }}
  </div>
  {{ end }}
</div>

{{ end }}