{{ define "content" }}

<div class="box">
  <form
    enctype="application/x-www-form-urlencoded"
    action="/todos/add"
    method="POST"
    class="add-form {{ if .HasTodos }} add-form--border {{ end }}"
  >
    <input
      type="text"
      name="title"
      class="add-input"
      placeholder="Do something"
      autocomplete="off"
      aria-label="Title of todo to be added"
      required
      autofocus
    >
    <button
      type="submit"
      class="button button--add"
    >Add</button>
  </form>

  {{ if .FlashMessage }}
    {{ if .FlashMessage.Kind }}
      <div class="flash-message flash-message--error">
      {{ else }}
      <div class="flash-message flash-message--success">
    {{ end }}
      {{ .FlashMessage.Content }}
    </div>
  {{ end }}

  {{ if .HasTodos }}
    <form
      enctype="application/x-www-form-urlencoded"
      action="/todos/update"
      method="POST"
      class="update-form"
    >
      <div class="todos">
        <div>
          {{ range .TodosNotDone }}
            <label class="todo">
              <input
                type="checkbox"
                name="done"
                class="check-input invisible"
                value="{{ .ID.Hex }}"
                id="{{ .ID.Hex }}"
                {{ if .Done }}checked{{ end }}
              >
              <div class="check"></div>
              <span>{{ .Title }}</span>
            </label>
          {{ end }}
        </div>
        <input
          type="checkbox"
          class="todos-done-title-check invisible"
          id="done-check"
        >
        <label class="todos-done-title-wrapper" for="done-check">
          <h2 class="todos-done-title">done</h2>
        </label>
        <div class="todos-done">
          {{ range .TodosDone }}
            <label class="todo">
              <input
                type="checkbox"
                name="done"
                class="check-input invisible"
                value="{{ .ID.Hex }}"
                id="{{ .ID.Hex }}"
                {{ if .Done }}checked{{ end }}
              >
              <div class="check"></div>
              <span>{{ .Title }}</span>
            </label>
          {{ end }}
        </div>
      </div>
      <button
        type="submit"
        class="button button--update"
      >Update</button>
    </form>
  {{ end }}
</div>

{{ end }}