/* Fonts */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/roboto-bold.woff2) format('woff2');
}

/* General */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  /* Custom properties */
  --color-green-1: #C7FBCA;
  --color-green-2: #8DAD90;
  --color-red-1: #FFD2D2;
  --color-red-2: #9E8686;
  --color-grey-1: #F3F3F3;
  --color-grey-2: #808080;
  --color-grey-3: #6B6B6B;
  --color-grey-4: #E6E6E6;
  --color-grey-5: #A7A7A7;
}

body {
  background-color: var(--color-grey-1);
  color: var(--color-grey-3);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  overflow-y: auto;
  padding: 2rem 0 5rem;
}

.main-content {
  margin: 0 auto;
  width: 90vw;
}

/* ≃1000px */
@media (min-width: 62.5em) {
  .main-content {
    width: 50vw;   
  }
}

.main-nav > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--color-grey-3);
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .3s ease;
}

.main-nav .active {
  background-color: #FFFFFF;
  box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.02);
}

.main-nav a:not(.active):hover,
.main-nav a:focus {
  background-color: var(--color-grey-4);
  outline: none;
}

.box {
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Utils */
.invisible {
  position: absolute;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
}

/* Accordion */
.accordion-check:checked ~ .accordion-content {
  display: none;
}

.accordion-label {
  background-color: var(--color-grey-1);
  display: block;
  position: relative;
  transition: background-color .2s ease;
}

.accordion-label > h2 {
  font-size: 1.6rem;
  margin: 0;
  padding: 1.5rem;
  text-transform: uppercase;
}

.accordion-label::after {
  content: '';
  border-bottom: 2px solid var(--color-grey-3);
  border-left: 2px solid var(--color-grey-3);
  height: 6px;
  position: absolute;
  right: 20px;
  top: 22px;
  transform: rotate(495deg);
  transition: transform .5s ease;
  width: 6px;
}

.accordion-check:checked + .accordion-label::after {
  top: 19px;
  transform: rotate(-45deg);
}

.accordion-check:focus + .accordion-label,
.accordion-check:hover + .accordion-label {
  background-color: var(--color-grey-4);
}

/* Button */
.button {
  border: 0;
  flex: 1 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: opacity .2s ease;
}

.button--add {
  background-color: var(--color-grey-1);
  color: var(--color-grey-2);
  flex: 1 0 auto;
}

.button--update {
  background-color: var(--color-grey-2);
  color: var(--color-grey-1);
  padding: 1.5rem 2rem;
  width: 100%;
}

.button:focus {
  outline: none;
}

.button--add:hover, .button--add:focus {
  opacity: .6;
}

.button--update:hover, .button--update:focus:focus {
  opacity: .9;
}

/* No todos */
.no-todos {
  color: var(--color-grey-5);
  font-size: 2.3rem;
  padding: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

/* Add */
.add-form {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
}

.add-form--border {
  border-bottom: 6px solid var(--color-grey-1);
}

.add-input {
  border: 0;
  flex: 0 1 auto;
  font-size: 1.8rem;
  padding: 1.5rem;
  width: 100%;
}

.add-input:focus {
  outline: none;
}

/* Todo */
.todo {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  padding: 1.5rem;
  transition: background-color .2s ease;
}

.todo:hover {
  background-color: var(--color-grey-1);
}

.todo:not(:last-child) {
  border-bottom: 3px solid var(--color-grey-1);
}

.todo > span {
  flex: 0 1 auto;
  max-width: 100%;
  width: 100%;
  word-break: break-all;
}

.todo-check {
  background-color: transparent;
  border: 2px solid var(--color-grey-4);
  border-radius: 5px;
  flex: 1 0 auto;
  height: 2rem;
  margin-right: 1.5rem;
  position: relative;
  width: 2rem;
}

.todo-check-input:checked + .todo-check::after {
  content: '';
  border-bottom: 2px solid var(--color-grey-3);
  border-left: 2px solid var(--color-grey-3);
  position: absolute;
  height: 4px;
  left: 3px;
  top: 4px;
  transform: rotate(-45deg);
  width: 8px;
}

.todo-check-input:focus + .todo-check {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}

/* Flash message */
.flash-message {
  flex: 1 0 auto;
  padding: 1.5rem;
}

.flash-message--success {
  background-color: var(--color-green-1);
  color: var(--color-green-2);
}

.flash-message--error {
  background-color: var(--color-red-1);
  color: var(--color-red-2);
}